streamlit==1.41.1
streamlit_folium==0.24.0
st_social_media_links==0.1.4
pandas==2.2.3
geopandas==1.0.1
plotly==6.0.0
folium==0.19.4
openpyxl==3.1.5
pytz==2024.2
tzdata==2025.1
numpy==2.2.2
DateTime==5.5